
<div class="section" id="section-1">
	<div class="demo-headline">
		<h1 class="demo-logo">
		  Magento PHP Developer's Guide
		  <small>Get Started with Magento Development!</small>
		</h1>
	</div>    
	<p>Magento has completely reshaped the face of e-commerce since its launch in 2008. Its revolutionary focus on object oriented and EAV design patterns has allowed it to become the preferred tool for developers and retailers alike.</p>
	<p>Magento is the king of ecommerce frameworks and the famous for its flexibility and power. Unfortunately is also (in)famous for being complex and having a step learning curve. Developers new to Magento often get frustrated and confused with the platform due to scarce documentation.</p>


	<h1>Who this book is for?</h1>

	<p>This book is written for developers who have previous experience with <strong>PHP</strong> and <strong>PHP frameworks</strong>, such as <strong>Zend</strong> or <strong>CakePHP</strong>, and want to start developing and working with <strong>Magento</strong>. Even developers with previous experience with <strong>Magento</strong> will find the book extremely useful to gain a full understanding of <strong>Magento</strong> fundamentals, architecture, and overall philosophy.</p>

	<h1>What you will learn from this book?</h1>

	<p>The Magento PHP Developer's Guide will help new developers to quickly pickup the fundamentals of the system like Entity Attibute Value(EAV), Magento's ORM, the design patterns used, Magento MVC, the layout system.</p>

	<ul>
	    <li>Understand the fundamental concepts of Magento</li>
	    <li>Deploy and distribute custom modules</li>
	    <li>Explore development techniques and tools for Magento</li>
	    <li>Extend Magento core functionality</li>
	    <li>Discover the design patterns which form Magento</li>
	    <li>Understand Magento architecture</li>
	    <li>Test Magento with different tools and frameworks</li>
		</ul>

</div>

<div class="section" id="section-2">
	<div class="demo-headline">
		<h1 class="demo-logo">
		  Chapters Overview
		  <small>Topics Covered in the book</small>
		</h1>
	</div>  

	<div class="chapters">
		<div class="chapter">
			<a name="chapter1"></a> 
			<h1>Chapter 1: Our Development Environment</h1>
			<p>In this chapter we will setup a complete environment for Magento development with Mysql and Apache. Additionally, we will go over the tools available to facilitate the development, several IDE's and Version control systems.</p>
			<div class="row two-columns">
				<div class="span6">
					<div class="tile resources">
						<h3>Resources</h3>
						<ul>
							<li><a href="" target="_blank">Magento Vagrant (Github)</a></li>
						</ul>
					</div>
				</div>
				<div class="span6">
					<div class="tile challenges">
						<h3>Challenges</h3>
						<ul>
							<li><a href="/hostfile-help">Host File Help</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="chapter">
			<a name="chapter2"></a> 
			<h1>Chapter 2: Magento Fundamentals</h1>
			<p>This chapter will cover the Magento fundamental concepts like the system architecture, MVC implementation and it's relation with the zend framework. All the concepts in this chapter will set the foundation for developers starting with Magento.</p>
			<div class="row two-columns">
				<div class="span6">
					<div class="tile resources">
						<h3>Resources</h3>
						<h4>None Available</h4>
<!-- 						<ul>
							<li><a href="">Resource 1</a></li>
						</ul> -->
					</div>
				</div>
				<div class="span6">
					<div class="tile challenges">
						<h3>Challenges</h3>
						<h4>None Available</h4>
<!-- 						<ul>
							<li><a href="">Resource 1</a></li>
						</ul> -->
					</div>
				</div>
			</div>
		</div>
		<div class="chapter">
			<a name="chapter3"></a> 
			<h1>Chapter 3: ORM and Data Collections</h1>
			<p>Collections and Models are the bread and butter of everyday Magento development, on this chapter we will introduce the reader to the Magento ORM system and we will learn how to properly work with data collections and the EAV system</p>
			<div class="row two-columns">
				<div class="span6">
					<div class="tile resources">
						<h3>Resources</h3>
						<ul>
							<li><a href="" target="_blank">Interactive Magento Console (Github)</a></li>
						</ul>
					</div>
				</div>
				<div class="span6">
					<div class="tile challenges">
						<h3>Challenges</h3>
						<h4>None Available</h4>

<!-- 						<ul>
							<li><a href="">Resource 1</a></li>
						</ul> -->
					</div>
				</div>
			</div>
		</div>
		<div class="chapter">
			<a name="chapter4"></a> 
			<h1>Chapter 4: Frontend Development</h1>
			<p>In this chapter we will give practical use to the skills and knowledge we have acquired so far and we'll build a functional Magento Module step by step. The custom module will allow readers to apply a variety of important concepts like working with collections, routing, sessions and caching.</p>
			<div class="row two-columns">
				<div class="span6">
					<div class="tile resources">
						<h3>Resources</h3>
						<ul>
							<li><a href="/chapter4/adding-products-registry">Adding Products to the Registry</a></li>
						</ul>
					</div>
				</div>
				<div class="span6">
					<div class="tile challenges">
						<h3>Challenges</h3>
						<ul>
							<li><a href="/challenge/chapter4/1">Challenge 1: Installer Script</a></li>
							<li><a href="/challenge/chapter4/2">Challenge 2: Converting to EAV</a></li>
							<li><a href="/challenge/chapter4/3">Challenge 3: Controller Actions</a></li>
							<li><a href="/challenge/chapter4/4">Challenge 4: Controller Forms</a></li>
							<li><a href="/challenge/chapter4/5">Challenge 5: Improved Forms</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="chapter">
			<a name="chapter5"></a> 
			<h1>Chapter 5: Backend Development</h1>
			<p>In the previous chapter we created the frontend part our module, on this chapter will extend what we previously build and create an interface in the Magento backend for interacting with our application data. We will learn about extending the backend, the adminhtml theme, setting data sources and controlling our extension behavior through configuration.</p>
			<div class="row two-columns">
				<div class="span6">
					<div class="tile resources">
						<h3>Resources</h3>
						<h4>None Available</h4>

<!-- 						<ul>
							<li><a href="">Resource 1</a></li>
						</ul> -->
					</div>
				</div>
				<div class="span6">
					<div class="tile challenges">
						<h3>Challenges</h3>
						<ul>
							<li><a href="/challenge/chapter5/1">Challenge 1: Mass Actions</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="chapter">
			<a name="chapter6"></a> 
			<h1>Chapter 6: The Magento API</h1>
			<p>In this chapter we will learn about the Magento API and how we can extend it for providing access to the custom data that we captured using our extension.</p>
			<div class="row two-columns">
				<div class="span6">
					<div class="tile resources">
						<h3>Resources</h3>
						<ul>
							<li><a href="/chapter6/wsdl">WSDL</a></li>
						</ul>
					</div>
				</div>
				<div class="span6">
					<div class="tile challenges">
						<h3>Challenges</h3>
						<h4>None Available</h4>

<!-- 						<ul>
							<li><a href="">Resource 1</a></li>
						</ul> -->
					</div>
				</div>
			</div>
		</div>
		<div class="chapter">
			<a name="chapter7"></a> 
			<h1>Chapter 7: Testing and Quality assurance</h1>
			<p>In this chapter the reader will learn critical skills for testing our Magento modules and customizations, this is an integral part of development. We will learn about the different types of tests and the tools available for each particular type of tests</p>
			<div class="row two-columns">
				<div class="span6">
					<div class="tile resources">
						<h3>Resources</h3>
						<ul>
							<li><a href="/getting-started-with-tdd">Getting Started with TDD</a></li>
							<li><a href="/module-managers">Module Managers</a></li>
							<li><a href="/yaml">YAML</a></li>
						</ul>
					</div>
				</div>
				<div class="span6">
					<div class="tile challenges">
						<h3>Challenges</h3>
						<h4>None Available</h4>

<!-- 						<ul>
							<li><a href="">Resource 1</a></li>
						</ul> -->
					</div>
				</div>
			</div>
		</div>
		<div class="chapter">
			<a name="chapter8"></a> 
			<h1>Chapter 8: Deployment and Distribution</h1>
			<p>In this chapter we will learn about the multiple tools available for deploying our code to a production environment and will also learn how to properly pack our extensions for distribution through channels like Magento connect.</p>
			<div class="row two-columns">
				<div class="span6">
					<div class="tile resources">
						<h3>Resources</h3>
						<ul>
							<li><a href="/naming-conventions">Naming Conventions</a></li>
							<li><a href="/license-types">License Types</a></li>
						</ul>
					</div>
				</div>
				<div class="span6">
					<div class="tile challenges">
						<h3>Challenges</h3>
						<h4>None Available</h4>
						
<!-- 						<ul>
							<li><a href="">Resource 1</a></li>
						</ul> -->
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="section" id="section-3">
	<div class="demo-headline">
		<h1 class="demo-logo">
		  About the Author
		  <small>Certified <strong>Magento Developer Plus</strong>, Lead Magento Developer <a href="www.demacmedia.com" target="_blank">Demac Media</a></small>
		</h1>
	</div> 
	<div class="row">
	<div class="span3">
		<%= image_tag 'middle_developer.png' %>
		<%= image_tag 'middle_developer_plus.png' %>
		<br/>
		<br/>
	    <p>
	        <a href="https://twitter.com/allanmacgregor" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @allanmacgregor</a>
	        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	    </p> 
	</div>
	<div class="span9">
		<p><strong>Allan MacGregor</strong> is a Magento Certified Developer Plus with four years of Magento experience. He also has a certification in Linux System Administration by IBM.</p>
		<p>He started working with Magento as a freelance looking for a better framework to build e-commerce solutions, and he is now the Magento Lead Developer at Demac Media (www.demacmedia.com). He's very passionate about software development in general. He is constantly working with new technologies and frameworks.</p>

		<p>At Demac Media, he has participated in building core solutions for a wide range of clients; this has given him the experience and knowledge to solve many Magento challenges.</p>
		<p>As part of an internal project at Demac Media, he worked on <a href="www.triplecheck.io" targe="_blank">Triplecheck.io</a>, a unique service for monitoring and auditing the code health of a Magento store.</p> 
	</div>	
	</div>	
	<div class="row">

	<div class="span9">
				<br/>
		<br/>
		<p><strong>Demac Media</strong> is an award winning eCommerce agency based out of Toronto. As the largest Magento Gold Partner in Canada, Demac was awarded the 2011 Magento Partner Excellence Award, which placed the company among the top 10 Magento Partners worldwide. From day one the company’s mission has been to be at the core of eCommerce and help grow the industry within Canada. Some notable partners include: Bench, Ardene, Stokes, Boathouse, Snuggle Bugz, eLUXE, and Ren’s Pets Depot.</p>
		<p>From design &amp; user experience, implementation and development, straight through to backend systems integration, the team at Demac Media is intimately familiar with the many facets of running an eCommerce business. We provide reliable solutions that have been built and battle tested with some of the best merchants on the web. Our goal is to be a strategic piece of our partners online businesses, be it B2C, B2B or some weird variation of the two, we exist to provide value to our partners through solutions that are driven by proven eCommerce strategy and rooted in experience.</p>
	</div>
	<div class="span3">
		<%= image_tag 'demac_logo.jpg' %>
	</div>
</div>
</div>    

<div class="section" id="section-4">
	<div class="demo-headline">
		<h1 class="demo-logo">
		  FAQ
		  <small>Frequently Asked Questions</small>
		</h1>
	</div> 
	<div class="content">
		<div class="question">
			<h3>Why was this book writen?</h3>
			<div class="answer">
				<p>This book was written as an effort to contribute back to the Magento community and provide a better starting point for new developers that are just getting started with Magento.</p>
			</div>
		</div>
		<div class="question">
			<h3>Who wrote this book?</h3>
			<div class="answer">
				<p>Check the <a href="#section-3">author section</a></p>
			</div>
		</div>
		<div class="question">
			<h3>What topic does the book cover?</h3>
			<div class="answer">
				<p><strong>Chapter 1: Our Development Environment</strong>
				In this chapter we will setup a complete environment for Magento development with Mysql and Apache. Additionally, we will go over the tools available to facilitate the development, several IDE&#39;s and Version control systems.</p>

				<p><strong>Chapter 2: Magento Fundamentals</strong>
				In this chapter we will cover the Magento fundamental concepts like the system architecture, MVC implementation and it&#39;s relation with the zend framework. All the concepts in this chapter will set the foundation for developers starting with Magento. </p>

				<p><strong>Chapter 3: ORM and Data Collections</strong>
				Collections and Models are the bread and butter of everyday Magento development, on this chapter we will introduce the reader to the Magento ORM system and we will learn how to properly work with data collections and the EAV system</p>

				<p><strong>Chapter 4: Frontend Development</strong>
				In this chapter we will give practical use to the skills and knowledge we have acquired so far and we&#39;ll build a functional Magento Module step by step.
				The custom module will allow readers to apply a variety of important concepts like working with collections, routing, sessions and caching.</p>

				<p><strong>Chapter 5: Backend Development</strong> 
				In the previous chapter we created the frontend part our module, on this chapter will extend what we previously build and create an interface in the Magento backend for interacting with our application data. We will learn about extending the backend, the adminhtml theme, setting data sources and controlling our extension behavior through configuration.</p>

				<p><strong>Chapter 6: The Magento API</strong>
				In this chapter we will learn about the Magento API and how we can extend it for providing access to the custom data that we captured using our extension.</p>

				<p><strong>Chapter 7: Testing and Quality assurance</strong> 
				In this chapter the reader will learn critical skills for testing our Magento modules and customizations, this is an integral part of development. We will learn about the different types of tests and the tools available for each particular type of tests</p>

				<p><strong>Chapter 8: Deployment and Distribution</strong>
				In this chapter we will learn about the multiple tools available for deploying our code to a production environment and will also learn how to properly pack our extensions for distribution through channels like Magento connect.</p>
			</div>
		</div>
		<div class="question">
			<h3>Who this book is for?</h3>
			<div class="answer">
				<p>This book is written for developers who have previous experience with <strong>PHP</strong> and <strong>PHP frameworks</strong>, such as <strong>Zend</strong> or <strong>CakePHP</strong>, and want to start developing and working with <strong>Magento</strong>. Even developers with previous experience with <strong>Magento</strong> will find the book extremely useful to gain a full understanding of <strong>Magento</strong> fundamentals, architecture, and overall philosophy.</p>
			</div>
		</div>						
	</div>   
</div>    

<div class="section" id="section-5">
	<div class="demo-headline">
		<h1 class="demo-logo">
		  Screencasts
		  <small>Coming Soon!</small>
		</h1>
	</div>    
</div>    

<div class="section" id="section-6">
	<div class="demo-headline">
		<h1 class="demo-logo">
		  Training
		  <small>Coming Soon!</small>
		</h1>
	</div>    
</div>    