.sidebar { 
	width: 250px;
	height: 100%;
	background: #E67E22;
	position: fixed;
	clear: both;
}

div.buy {
	padding:20px 0px;
	text-align:center;
	img { padding-left:15px; }
	.btn {
		background: #e74c3c;
	}
	.span3 { margin-left: 15px; }
}

.main-nav {
	float:left;
	width:100%;
	margin-top: 15px;
	h4 { color:#ecf0f1; margin:0; }
	a { text-decoration: none; color:#ecf0f1;}
	a:hover { text-decoration: none; font-weight:bold; color:#ecf0f1;}
	ul {
		margin:0;
		li { padding:10px; padding-left:25px; }
		li.current { 
			background: #d35400;  
			font-weight:bold;
			a { font-weight:bold; } 
		}
	}
}

.two-columns {
	.tile {
		ul { text-align:left; }
	}
}

.answer {
  padding-left: 15px;
}

.container { margin-left: 300px; min-height:500px;}

footer .container { min-height: 270px;}

.chapter { margin: 40px 0; }